

#pcontact{
	font-size: 40px;
	
}

.pcontact{
	font-size: 40px;
}



}
/* seems to be a difference between Android and iOS, device-width and device-height changes with orientation*/
/*@media all and (max-device-width: 480px) and (orientation: landscape),
all and (max-device-height: 480px) and (orientation: landscape){*/

/* Portrait and Landscape */
@media all screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


.main_content{
	background-color: pink;
	min-height: 150vw;
	font-size: 20px;
	transition: 3s;
	max-width: 100vh;
}

.main_titles{
	font-size: 10px;
	text-align: center;
	padding-left: 0px;
}
}
/*@media (max-width: 650px){
  .main_content {
    width: 90%;
    margin: 20px 30px;
    border:10px white solid;
  }
  #project{
    width: 90%;
    margin: 0px 30px 50px 30px;
  }
}
@media (max-width: 1000px){
  #demo{
  width: 100%;
  }
}*/



/*this is my background for the pages.*/
.main_content{

	background-color: #EEEEEE;
	min-height: 110vh;
/*	max-width: 100vh;*/
	/*transition: 3s;*/
	border:18px white solid;
	margin:0;

}



/*these are the titles for every page*/
.titles{
	display: inline-block;
	text-align: left;
	padding-top: 60px;
	padding-left: 30px;
	padding-bottom: 50px;
	z-index: 1;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
	font-size: 60px;
	color: #515151;
	text-shadow: 1px 1px;
	margin:0;
}


.main_titles{
	text-align: center;
	padding-top: 50px;
	/*padding-left: 30px;*/
	padding-bottom: 50px;
	font-family: 'Roboto Condensed', sans-serif;
/*	font-weight: 300;*/
	font-size: 10vh;
	color: #515151;
	margin:0;
}



/* this is my about page text*/
.pcontact{
	width: 50%;
	display: absolute;
	margin: 0;
	padding-left: 30px;
	color: #515151;
	font-family: 'Roboto Condensed', sans-serif;
}

#pcontact_info{
	width: 50%;
	display: inline-block;
	display: none;
	margin: 0;
	padding-left: 30px;
	font-size: 18px;
	color: #515151;
	font-family: 'Roboto Condensed', sans-serif;
}


/*this is my about page image of me*/
.image_me{
	margin: 0;
	padding-left: 20px;
	padding-bottom: 30px;
}



.saci{
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
	padding-left: 30px;
	color: #515151;
	padding-bottom: 20px;
}



	.design_images{
	 display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: center;

	}

	.tel_aviv_images{
	/*padding-left: 25px;*/
	text-align: center;
	max-width: 400px;

	}

	.new_york_images{
	/*padding-left: 25px;*/
	text-align: center;
	max-width: 400px;
	}
	

	.image{
		justify-content: center;
		 display: -webkit-box;
    	display: -moz-box;
    	display: -ms-flexbox;
   		 display: -webkit-flex;
    	display: flex;
  		-webkit-flex-flow: row wrap;
  		margin: 5px;
/*  justify-content: center;*/
	}



.blurb {
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	padding-left: 30px;
	color: black;
}




/*-*********************NAVIGATION BAR************************/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    background-color: white;
    size: 8pt;
    width:100%;
    text-align:left;
	}


li {
    display: inline-block;
	}


li a {
    padding: 14px 16px;
    text-decoration: none;
	}


/*links to not change colors*/
a:link {
	color: black;
}

a:visited {
	color: black;
}	

a:hover{
    color: #00B4FF;
}

a:active{
	color: black;
}




/*MAIN PAGE IMAGES*/

.main_container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-family: 'Roboto Condensed', sans-serif; 
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 50px;

}

/*TITLES OF THE MAIN PAGE IMAGES*/
.topic{
    width:350px;
    height:350px;
    margin:5px;

    /*you have two options here*/
    background-origin: 100% 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
  align-items:center;
  transition:opacity;
}

/*MAIN PAGE TITLE*/
/*.topic{
    font-size:50px;
    color:rgba(255,255,255,0);
    transition:color 1s;
    

}

.topic:hover{
    color: #515151;
}*/

.box_name{
	/*width: 100%;
	height: 100%;
	font-size: 50px;
	color: yellow;
	position: absolute;
	opacity: 0;
	transition: color 1s;
*/
 position: block;
    top: 60%;
    color: #515151;
    text-align: left;
    margin-left: 4px;
    font-size: 45px;
    transform: translate(0,-50%);
/*    opacity: 0;*/
    transition: color 1s;
}

/*.box_name:Hover{
*//*	background-color: rgba(255,105,180,.8);*/
	/*position: absolute;*/
 	/*top:50%;*/
  	/*color: black;
  	opacity: 1;*/
  	/*text-align: left;*/
  /*	margin-left:5px;*/
  	/*font-size: 30px;*/
  	/*transform: translate(0,-50%);*/

/*}*/

.box_name: before{
	color: inherit;
	width: 350px;
	height: 350px;
}

.box_text{
	width: 350px;
	height: 350px;
	position: absolute;
	background-color: transparent;
	transition: background-color 1s;
}

.box_text:Hover{
	position: absolute;
	background-color: rgba(0, 180, 255,.8);

	width: 350px;
	height: 350px;
}

.box_text:before{
	background-color: inherit;
	width: 350px;
	height: 350px;
}

/*MAIN PAGE IMAGE LINKS*/
#DrawingApp{
    background-image:url("../images/drawing.png");
    transition: background-color 1s;
}



#painting{
        background-image:url("../images/beach.jpg");
}
#unity{
        background-image:url("../images/unity.PNG");
}

#cloud{
        background-image:url("../images/cloud.jpg");
}

#drone{
        background-image:url("../images/drone.jpg");
}

#activities{
        background-image:url("../images/activities.png");
}

/*development*/



#about{
  width:100%;
  background-color: #00B4FF;
  padding:220px 0;
}
#about2{
  width:80%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  
}
/*#about2 img{
  display:inline-block;
  vertical-align: top;
}*/
#about2 #text{
  display:inline-block;
  width:467px;
  padding-left:20px;

  font-weight: 400;
  font-size:3vmin;
  color: rgb(244,243,239);
  font-family: 'Roboto Condensed', sans-serif;
}


#bottomHome{
  position:relative;
  width:100%;
  height:30px;   
  bottom:0;
  background-color: #EEEEEE;
  font-family: 'Roboto Condensed', sans-serif;
  color: #00B4FF;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  padding-top:20px;
}


/*MAIN TITLE*/
.Met{
	text-align: center;
	display: inline-block; 
	font-family: 'Libre Baskerville', serif;
	font-size: 60px;
	margin-top: 70px;
	margin-bottom: 80px;
	color: #e4002b;
}

/*-----------------
	Main Content
------------------*/
.main-content{
	box-sizing: border-box;
	text-align: center;
	margin: 0;
	padding: 0;


}
.main-content h1.ultra-big {
	font-size: 8.25em;
	font-weight: bold;
	letter-spacing: -15px;
	margin: -25px 0 -35px -8px;
	text-align: center;
	display: none;


}


.main-content h3{
	font-size: 3.5em;
    line-height: 1.3em;
    margin: 20px 0;
    letter-spacing: -2px;
    font-weight: bold;
	font-family: 'Libre Baskerville', serif;
	color: #E4002B;

}
.main-content h4 {
	font-size: 1.3em;
	line-height: 1.4em;
	color: #999;
	margin-bottom: 30px;
	color: rgba(231, 11, 128, 0.9);
	font-weight: normal;
	width: 70%;

}
.main-content h5 {
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 100;
	margin: 20px 0;
	font-size: 0.7em;
}
/*@media (max-width: 600px){
	.main-content{
		margin: 80px auto;
		padding: 0 25px;
	}
}*/


/*-------------------
	All Students Page
--------------------*/

/*form {
	position: absolute;
}
.filters{
	overflow-y: scroll;
	box-sizing: border-box;
	padding: 25px 30px 30px;
	width: 240px;
	position: fixed;
	text-align: left;
	color: #E4002B;
	opacity: 0;
	pointer-events: none;
	height: 113vh;
}

.filters .filter-criteria{
	display: block;
	margin: 10px 0 10px;
}

.filters span{
	font-size: 14px;
	display: block;
	margin-bottom: 16px;
	font-weight: bold;
	margin-top: 190px;
	letter-spacing: 2px;
	font-family: 'Open Sans', sans-serif;
}

.filters label{
	display: block;
	line-height: 2;
	font-size: 0.8em;
	letter-spacing: 1px;
	color: black;
}

.filters label input{
	margin-right: 10px;
}

.filters button{
	background-color: #262626;
	color: #ffffff;
	font-size: 12px;
	cursor: pointer;
	width: 100px;
	height: 32px;
	margin-top: 20px;
}


/*	Students List	*/
/*.all-students h3{
	opacity: 0;
}
.students-list{
	list-style:none;
	margin-left: 255px;
	padding: 20px 0;
	opacity: 0;
	font-size: 0;
}
.all-students.visible .students-list,
.all-students.visible .filters,
.all-students.visible h3{
	opacity: 1;
	transition: 1s;
	pointer-events: auto;
}
.students-list > li{
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: 0.2s;
	text-align:left;
	font:normal 12px sans-serif;
	background-color:#ffffff;
	margin: 0 12px 12px 0;
	padding: 15px 10px;
}

.students-list > li.hidden{
	opacity: 0.2;
	pointer-events: none;
}*/

/* The Project image */
/*.students-list .student-photo{
	display: block;
	width: 275px;
	margin-bottom: 20px;
	box-sizing: border-box;
}
*/
/* The Project name */
/*.students-list h2{
	display: block;
	font-size: 16px;
	font-family: 'Open-Sans', sans-serif;
	white-space: nowrap;
	overflow: hidden;

	text-overflow:ellipsis;
	max-width: 200px;
	margin:0;
}

.students-list h2 a{
	text-decoration: none;
	color: #2B2E31;
	font-family: 'Open-Sans', sans-serif;
	font-style: oblique;
	font-size: .9em;
	letter-spacing: 1px;
}
.students-list h3{
	
	font-size: 1em;
	letter-spacing: .5px;
	font-family: 'Open-Sans', sans-serif;
	color:#a7a7a7;
	margin: 7px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 230px;
}*/

/* Project description */
/*.students-list .project-description{
	color: #a7a7a7;
	font-size: .9em;
	letter-spacing: 1px;
	line-height: 1.45;
	white-space: normal;
	max-width: 260px;
	margin-bottom: 20px;
	list-style: none;
}
.students-list .project-description li{
	display: inline-block;
	margin-right: 5px;
}

.students-list .project-description li:first-child{
	display: block;
}

.students-list .project-description li span{
	font-weight: bold;
	color: #e4002b;

}

.students-list button{
	border-radius: 2px;
	background-color:  #87bae1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
	border: 0;
	color: #ffffff;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	cursor: pointer;

	width: 100px;
	height: 32px;
}*/

/* Making the list responsive */
/*@media (max-width: 800px){
	.students-list .student-photo{
		width: 400px;
	}*/

	/*.students-list .project-description{
		max-width: 400px;
	}
}*/

/*---------------------------
	Single Project Page
----------------------------*/
/*.single-project{
	z-index: 100;
}

.overlay{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: 1s;
}

.single-project.visible .overlay{
	height: 100%;
}

.popup-detail{
	box-sizing: border-box;
	height: 100vh;
	position: fixed;
	left: 40.2%;
	margin-left: -375px;
	top: 0px;
	pointer-events: none;
	background-color:  #ffffff;
	opacity: 0;
	transition: 0.4s;
	text-align: left;
	font-family: 'Open Sans', sans-serif;
}

.single-project.visible .popup-detail{
	opacity: 1;
	transition: .1s;
	pointer-events: auto;
}

.popup-detail h3{
	margin-top: 40px;
	font-family: 'Libre Baskerville', serif;
}

.popup-detail h4{
	color: black;
	font-style: oblique;
	font-family: 'Open-Sans', sans-serif;
	font-size: 1.5em;
}

.popup-detail img{
	height: 50%;
}

.popup-detail p{
	padding: 30px 0;
	line-height: 1.4em;
	width: 70%;
	font-family: 'Open-Sans', sans-serif;
}

.close{
	position: absolute;
	right: 75px;
	top: 25px;
	font-size: 80px;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	cursor: pointer;
	font-weight: 100;
}*/

/*---------------------------
	Error & About Page
----------------------------*/
/*.about{
	opacity: 0;
	pointer-events: none;
	position: absolute;
	left: 0;
	top: 40px;
	width: 100%;
	z-index: 999;
	background: #ffffff;

}

.about.visible{
	opacity: 1;
	transition: .01s;
	display: block;
	width: 100%;
	height: 100vh;
	background: #ffffff;
	pointer-events: auto;
}


.container {
	text-align: left;
	width: 70vw;
	line-height: 1.6em;
	margin: 0 auto;
	font-weight: 100;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	background: #ffffff;
}
*/

