body{
  margin:0;
  font-family: 'Roboto Condensed', sans-serif;
  /*font-weight: 700;*/
  /*-webkit-font-smoothing: antialiased;*/
  min-width: 400px;
}

/*this is my background for the pages.*/
.main_content{

	background-color: #EEEEEE;
	min-height: 110vh;
/*	max-width: 100vh;*/
	/*transition: 3s;*/
	border:18px white solid;
	margin:0;

}

.danielle_titles{
	text-align: center;
	padding-top: 50px;
	/*padding-left: 30px;*/
	padding-bottom: 50px;
	font-family: 'Roboto Condensed', sans-serif;
/*	font-weight: 300;*/
	font-size: 10vh;
	color: #515151;
	margin:0;
}


/*-*********************NAVIGATION BAR************************/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    color: #FFFFFF;
    background-color: white;
    /*size: 8px;*/
    width:100%;
    font-size: 2.0vmin;
    text-align:left;
	}


li {
    display: inline-block;
	}


li a {
    padding: 14px 16px;
    text-decoration: none;
	}


/*links to not change colors*/
a:link {
	color: black;
}

a:visited {
	color: black;
}	

a:hover{
    color: #00B4FF;
}

a:active{
	color: black;
}



#bottomHome{
  position:relative;
  width:100%;
  height:30px;   
  bottom:0;
  background-color: #EEEEEE;
  font-family: 'Roboto Condensed', sans-serif;
  color: #00B4FF;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  padding-top:20px;
}


/*PROJECT PAGES*/

#large-image{
   display: block;
    margin: auto;
    width: 80%;
}

.titles{
	display: inline-block;
	text-align: left;
	padding-top: 60px;
	padding-left: 80px;
	padding-bottom: 50px;
	z-index: 1;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
	font-size: 30px;
	color: #515151;
	margin:0;
}

#projectDes {
  width:200px;
  margin: 50px 20px 50px 30px;
  color:#666666;  
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size:13px;
  display:inline-block;
  vertical-align: top;
}
#projectDes a,#project a{
  color: rgb(153,102,255);
  text-decoration: none;
}
#project{
  display:inline-block;
  width: calc(100% - 300px);
  margin:50px 0;
  color:#666666;  
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size:13px;
}

/**/
.projectImg{
  width:100%;
  height:auto;
}
.projectImgSm{
  width:60%;
  margin: 0 20%;
}
.projectImg img{
  max-width:100%;
  display:block;
  margin: 0 auto;
}

iframe{
  width:100%;
  height:40vw;
}


/*Index*/

#portfolio{
  width:80%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  padding-bottom:50px;
}
.projectHome{
  display: inline-block;
  width:200px;
  height:200px;
  margin-left:20px;
  margin-top:20px;
  position:relative;
}
.projectHoverHome{
  width:200px;
  height:200px;
  position:absolute;
}
.projectHome:hover .projectHoverHome{
  background-color: rgba(0,2,84,0.6);
}
.projectHomeName{
  position:absolute;
  top:50%;
  color:white;
  text-align: left;
  margin-left:5px;
  font-size: 30px;
  transform: translate(0,-50%);
}
#DrawingApp{
  background-image: url(../images/drawing.png);
  background-size: contain;
}
#painting{
  background-image: url(../images/beach.jpg);
  background-size: contain;
}
#unity{
  background-image: url(../images/beach.jpg);
  background-size: contain;
}
#drone{
  background-image: url(../images/drone.jpg);
  background-size: contain;
}
#activities{
  background-image: url(../images/activities.png);
  background-size: contain;
}
#unity{
  background-image: url(../images/unity.PNG);
  background-size: contain;
}
#unity{
  background-image: url(../images/unity.PNG);
  background-size: contain;
}
#unity{
  background-image: url(../images/unity.PNG);
  background-size: contain;
}
#unity{
  background-image: url(../images/unity.png);
  background-size: contain;
}
#unity{
  background-image: url(../images/unity.PNG);
  background-size: contain;
}
#unity{
  background-image: url(../images/unity.PNG);
  background-size: contain;
}
#unity{
  background-image: url(../images/unity.PNG);
  background-size: contain;
}
#unity{
  background-image: url(../images/unity.PNG);
  background-size: contain;
}
#unity{
  background-image: url(../images/unity.PNG);
  background-size: contain;
}

/*ABOUT ME SECTION*/
#about{
  width:100%;
  background-color: rgb(51,51,51);
  padding:220px 0;
}
#about2{
  width:80%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  
}
#about2 img{
  display:inline-block;
  vertical-align: top;
}
#about2 #text{
  display:inline-block;
  width:467px;
  padding-left:20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size:14px;
  color: rgb(244,243,239);
}


/*MEDIA WIDTH*/

@media (max-width: 555px){
  .project{
    width:175px;
    height:175px;
    margin-left:10px;
    margin-top:10px;
  }

  .projectHover{
    width:175px;
    height:175px;
    position:absolute;
  }
  #about2 img{
  width: 30%;
  display:block;
  margin:0 auto;
  }
  #about2 #text{
  width:90% !important;
  margin:20px auto 0 auto !important;
  }
}
@media (max-width: 910px){
  #about2 .disappear{
    display:none;
  }
  #about2{
    width:90%;
  }
  #about2 #text{
  width:55%;
  }
  #about2 img{
  width: 30%;
  }
}

/*Projects page*/

.title{
 /* color:#00B4FF; */
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;


}

.idea-title{
padding-left: 80px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color: #515151;
}


/*#marveliframe{
  height:823px;
}*/
/*#demo{
  display:inline-block;
  width: 49%;
  min-width: 350px;
  vertical-align: middle;
}*/
/*#iPhone1{
  display:block;
  width:300px;
  left:50%;
  margin:20px auto;
}*/
/*#demo1{
  display:block;
  width:260px;
  height:461px;
  margin:-553px auto 100px auto;
}*/
/*#tryBtn{
  padding:10px 15px;
  background-color: rgb(153,102,255);
  color: rgb(244,243,239)!important;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size:20px;
  text-decoration: none;
}*/
#portfolio2{
  width:90%;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  padding-bottom:30px;
}

.project{
  display: inline-block;
  width:75px;
  height:75px;
  background-color: rgba(153,102,255,0.1);
  position:relative;
  margin-bottom:22px;
}

.projectHover{
  width:75px;
  height:75px;
  position:absolute;
}
.projectName{
  position:absolute;
  width:200px;
  left:50%;
  margin-left: -100px;
  bottom:-30px;
  font-size:13px;
  font-family: 'Open Sans', sans-serif;
  color:#00B4FF;
  text-align: center;
  opacity:0;
}
.project:hover .projectName{
  opacity:1;
}
.project:hover .projectHover{
  background-color: rgba(0,2,84,0.6);
}

#bottom{
  position:relative;
  width:100%;
  height:30px;   
  bottom:0;
  background-color: rgb(238,238,238);
  color: rgb(81,81,81);
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  padding-top:20px;
}


@media (max-width: 650px){
  #projectDes {
    width: 90%;
    margin: 50px 30px;
  }
  #project{
    width: 90%;
    margin: 0px 30px 50px 30px;
  }
}
@media (max-width: 1000px){
  #demo{
  width: 100%;
  }
}


